/* body{
    background-color: aqua;
} */


.fNote{
    margin: 150px 50px 0 0;
    text-align: center;
}

.baseHead {
    display: flex;
    flex-direction: row;
    padding: 15px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
      
}

.lo-design{
    width:100px;

}


.header-nav {
    text-align: center;
    align-items: center;
    flex-direction: row;
   
}

/* space between elements */
.sbe{
    flex-shrink: 0;
    width: 10px;
}

.search-container{
    position: relative;
    width: 700px; 
    /* visibility: hidden; */ 
       
}


.search-input{
    width: 500px;
    padding:10px 15px;
    border: 2px solid #ccc;
    border-radius: 25px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
       
}


.search-input:focus{
 border-color: #007BFF;
}

.search-button{
    top: 50%;
    border: none;
    background: none;
    cursor: pointer;
}

.search-button i {
    font-size: 18px;
    color:#888;
}

/* Login button */
.logIn {
    padding-top: 5px;
    color: azure;
    font-size: 16px;
    border-radius: 10px;
    height: 30px;
    width: 80px;
    border: 0;
    background-color: rgba(132, 20, 20, 0.9);
}

nav {
    display: flex;
    justify-items: center;
    gap: 20px;
    /* space between items*/
    font-size: 18px;
    font-weight: 400;
    color: black;
    
}

nav a {
    color: black;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}


#tabs{
    margin-top: 35px;
    flex-direction: row;
    justify-items: center;
    padding: 30px;
        
}


.signUp{
    
    font-size: 18px;
    border:0;
    height: 30px;
    width: 80px;
    border-radius:10px;
    background-color: red;
}

.photo-gallery{
    margin:0 auto;
    display: block;/* Fallback if Masonry fails */
   /*  gap: 10px; */
}

.photo{
    width: 250px;
    margin-bottom: 10px;
}

.photo img{
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
    box-shadow:0 4px 8px rgba(0, 0 ,0,0.2)
}


/* Login page  */


.l-route{
    display: flex;
    flex-shrink: 0;
    margin-inline: auto;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.sfn{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    text-align: center;
    width: 300px;
    border: 30px;
   
}
.gmb {
    padding: 32px 32px 40px;
    display: block;
    width: inherit;
    
}

.l-h1{
    margin-block: 0;
}

.log-form{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 24px;
    text-align: left;
    gap: 24px;

}

.uil{
    display: flex;
    flex-direction: column;
   
   
}

.uinf{
    display: flex;
    flex-shrink: 0;
    width: 350px;
    
   
}

.fmp{
   font-size: 12px;
   margin-left: 160px; 

}

.w800b{
    height: 30px;
    

}

.btn-login{
    height: 40px;
    font-size: medium;

}




@media (min-width:480px)and(max-width:767px)
{
    .gmb{
        padding: 32px 32px 40px;
    }

}